/* searchpage styling */

.searchbox {
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 3em;
    /*centering the form element*/
    margin-left: auto;
    align-content: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.9);
}

input[type="search"] {
    padding: 10px 15px 10px 50px;
    font-size: 2em;
    color: #1f5350;
    border: none;
    background-color: #7accc8;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


/*now using placeholder property to change color of placholder text and making it consitent accross the browser by use of prefix*/

input[type="search"]::-webkit-input-placeholder {
    color: #b1e0de;
}

input[type="search"]:-moz-placeholder {
    /* Firefox 18- */
    color: #b1e0de;
}

input[type="search"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #b1e0de;
}

input[type="search"]:-ms-input-placeholder {
    /* interner explorer*/
    color: #b1e0de;
}


/* input::after {
    display: block;
    float: right;
    position: relative;
} */

#searchpagesubmit {
    background-color: #fff;
    border: none;
    /* position: absolute; */
    margin-right: 1%;
    /* font-size: 3em;
    color: #1f5350 */
}

.searchoptions {
    display: block;
    align-content: center;
    align-self: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

#options {
    margin-right: .3em;
    margin-left: .3em;
    border: none;
    font-size: .9em;
    font-weight: 300;
    color: #536e79;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-image: radial-gradient(#f6fdfd, #ffffff);
}

.search-results ul {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.8);
}

.search-results li {
    font-family: 'Open Sans';
    text-align: left;
    padding: 5px;
    list-style: none;
    border-bottom: none;
}