.contributors {
  font: 100% "Open Sans";
  text-align: center;
}
.contributors a {
  text-decoration: none;
  color: var(--oceanblue);
}
.contributors i {
  color: var(--stone);
}

.dictionary {
  font-family: "Open Sans", sans-serif;
}

.term {
  color: var(--oceanblue);
}

.ref-link {
  text-decoration: none;
  font-style: italic;
  color: var(--oceanblue);
}

.result-item {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: nowrap;
}

.summary {
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-options-container {
  display: flex;
  justify-content: center;
}

.search-options {
  color: var(--blueshadow);
  font-size: 80%;
  padding: 0.5rem 1rem;
}

.search-options > input[type="checkbox"] {
  padding: 0.5rem;
  margin: 0.5rem;
}

.search-options > input[type="checkbox"]:checked {
  background-color: var(--oceanblue);
  transition: 0.5s;
}
