.contributors {
  font: 100% "Open Sans";
  text-align: center;
}
.contributors a {
  text-decoration: none;
  color: var(--oceanblue);
}
.contributors i {
  color: var(--stone);
}

.dictionary {
  font-family: "Open Sans", sans-serif;
}

.term {
  color: var(--oceanblue);
}

.ref-link {
  text-decoration: none;
  font-style: italic;
  color: var(--oceanblue);
}

.result-item {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: nowrap;
}

.summary {
  overflow: hidden;
  text-overflow: ellipsis;
}
