.contributors {
  font: 100% "Open Sans";
  text-align: center;
}
.contributors a {
  text-decoration: none;
  color: var(--oceanblue);
}
.contributors i {
  color: var(--stone);
}

.dictionary {
  font-family: "Open Sans", sans-serif;
}

.dictionary b {
  color: var(--oceanblue);
}

.dictionary a {
  text-decoration: none;
  font-style: italic;
  color: var(--oceanblue);
}
