.navBar {
  width: 100%;
  font-size: 90%;
  padding: 0.5em !important;
  text-align: center;
  justify-content: center;

  /* todo: make collapsable on mobile */
  /* flex-direction: column !important; */
}

.navlink {
  padding: 10px;
}
.navlink:hover {
  transform: scale(101%);
  background-image: radial-gradient(var(--seablue), white);
  transition: 0.5s;
  font-weight: 500;
}
