{% extends 'base.html'%} {% block content %} {% block pagetitle %}
<div class="pagetitle">About Us</div>
<hr> {% endblock %}
<style>
    body {
        background-image: url('https://images.squarespace-cdn.com/content/v1/59c92f5a03596e9882e024f3/1510063909191-NSM2XPOQSW5DJ22SP832/Yellow-Green+Octopus_xsm.jpg?format=1500w');
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        min-height: 8em;
    }
</style>
<div class="intro">
    Hello! <br>My name is Amanda, my mother is a former geneticist who came to Jamaica in the 1980s and helped develop the SCUBA industry - ever heard of <a id="hoverable">SUNDIVERS?<img src="{{ url_for('static', filename='images/sundivers.jpeg') }}" style="visibility:hidden" onmouseover = "show()" id="hoverable"></a>(Fundivers
    if you're younger).
    <br> I currently live in London (a far cry from the contents of tropical reefs this site focuses on) completing a Bioinformatics MSc. I've built this website in an effort to reconnect with my roots as well as help in developing a community/ raising
    awareness around coral and its conservation.

    <br> On a separate note, the artwork below is of my mother's creation. If you'd like to see more of her underwater scapes, click the image below.<br>
    <a href="https://www.susanclare.art/#/underwater/" target="_blank"><img id="SCA" src="https://images.squarespace-cdn.com/content/v1/59c92f5a03596e9882e024f3/1532112845325-YPUBFOB58FCKOIK4R4MA/ke17ZwdGBToddI8pDm48kCiX9Vj2AH6Z33FSYy5Fyqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0lCvyAd1-5UQFnp8aARaJsW5Zi8vJ2q9TDRBAKy8t4lL0MsQ67px5zuB_ObYJDVCyA/ClareSusan_A+Thing+of+the+Past%3F.jpg?format=2500w"></a>
</div>
{% endblock %}