<!-- Page about me but will be changed for the actual concept -->
{% extends 'base.html'%} {% block searchbar %}{% endblock %} {% block content %} {% block pagetitle %}
<div class="pagetitle">About Me</div>
<hr> {% endblock %}
<style>
    body {
        background-image: url('https://assets.artworkarchive.com/image/upload/t_jpg_profile_2000/v1/user_17316/IMG_5087_tzfdgc');


        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        min-height: 8em;
    }
</style>
<div class="intro">
    <div style="column-count: 2; column-fill:balance; column-gap:2em; margin: 1.3em">
        <div style="text-align: center; margin-top:2em">
            Hello! <br>My name is Amanda and I've recently completed my MSc in London (a very different environment from the ones we focus on in this site). I've built this website in an effort to reconnect with my roots as well as help in developing
            a community/ raising awareness around coral and its conservation.</div><br>
        <!-- profile photo -->
        <div style="display: inline-flex;"> <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFSFoQ83-KhLA/profile-displayphoto-shrink_800_800/0/1597092041518?e=1639612800&v=beta&t=UNth-j20aKNX3Z8dsC9V-y3iB2nniuL2Je3xgHW9mx8" style="min-width:5em; margin-left:20%; margin-right:auto; max-width:65%">            </div>
    </div> <br> My mother is a former geneticist who came to Jamaica in the 1980s and helped develop the SCUBA industry - ever heard of SUNDIVERS? (Fundivers if you're younger). The artwork you see throughout the site is hers and you can see more of it on her
    <a href="https://www.susanclare.art">website</a> (you can also click the image below).
    <br>
    <a href="https://www.susanclare.art/#/underwater/" target="_blank"><img id="SCA" src="https://images.squarespace-cdn.com/content/v1/59c92f5a03596e9882e024f3/1532112845325-YPUBFOB58FCKOIK4R4MA/ke17ZwdGBToddI8pDm48kCiX9Vj2AH6Z33FSYy5Fyqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0lCvyAd1-5UQFnp8aARaJsW5Zi8vJ2q9TDRBAKy8t4lL0MsQ67px5zuB_ObYJDVCyA/ClareSusan_A+Thing+of+the+Past%3F.jpg?format=2500w"
            style="padding: 10px;"></a>
    <br> Thank you for taking the time to look at the site! If you'd like to get in contact, use the <a href="/contributors">contact form</a> or <a href="mailto:lab.amanda.ch@gmail.com?subject=Coral Wiktionary">email</a> me.
</div>
{% endblock %}