<!DOCTYPE html>
<!-- Amanda Ho-Lyn -->
<html>
{% block head %}

<head>
    {% block title %}
    <!-- Title and icon that show in browser tab -->
    <title>Coral Wiktionary</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/acholyn/coral-wiki/main/images/coral.png" type="image/x-icon" /> {% endblock %}

    <!-- Fonts -->
    <!--Cinzel Decorative-->
    <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative' rel='stylesheet'>
    <!--Open Sans-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet">

    <!--Icons-->
    <script src="https://kit.fontawesome.com/01e3a3b2ef.js" crossorigin="anonymous"></script>

    <!-- Stylesheets -->
    <!-- General, including search -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/coralwiki.css') }}">


    <!-- for back to top button -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">




</head>
{% endblock %} {% block header %}
<!-- header area -->
<div class="header">
    <div class="row">
        <div class="title">
            <h1>The Coral <br>Culture & Restoration <br> Wiktionary</h1>
        </div>
        <div class="logos">
            <!--CRC-->
            <img src="https://raw.githubusercontent.com/acholyn/coral-wiki/main/images/CRC.png" width="100px">
        </div>
    </div>
</div>

{% endblock %} {% block nav %}
<nav>
    <div class="nav-item"><a href="{{ url_for ('index') }}">Home</a></div>
    <div class="nav-item"><a href="{{ url_for ('contributors') }}">Contributors</a></div>
    <div class="nav-item"><a href="{{ url_for ('about') }}">About Us</a></div>

    <!--Search-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="wrapper">
        <div class="wrapper-right">
            <label class="fa fa-search search-icon" for="tag-search"></label>
        </div>
        <div class="clear"></div>
    </div>
    </div>
</nav>
<hr> {% endblock %} {% block content %} {% block pagetitle %} {% endblock %}<br>

<body>


    {% endblock %} {% block footer %}
    <!--BACK TO TOP BUTTON-->
    <div class="m-backtotop" aria-hidden="true">
        <div class="arrow">
            <i class="fa fa-arrow-up"></i>
        </div>
        <div class="text">
            Back to top
        </div>
    </div>
    <!--Footer-->
    <footer class="footer">
        <p class="footer">The Coral Culture & Restoration Wiktionary &copy; 2021 </p>
    </footer>
    {% endblock %} {% block scripts %}
    <!--JavaScript-->
    <script type="text/javascript">
        function show() {
            document.getElementById('hoverable').style.visibility = 'visible';
        }
    </script>
    <!-- back to top button -->
    <script>
        //Make sure the user has scrolled at least 1.5x the height of the browser
        var toggleHeight = $(window).outerHeight() * 1;

        $(window).scroll(function() {
            if ($(window).scrollTop() > toggleHeight) {
                //Adds active class to make button visible
                $(".m-backtotop").addClass("active");

            } else {
                //Removes active class to make button visible
                $(".m-backtotop").removeClass("active");


            }
        });


        //Scrolls the user to the top of the page again
        $(".m-backtotop").click(function() {
            $("html, body").animate({
                scrollTop: 0
            }, "slow");
            return false;
        });
    </script>
</body>

{% endblock %}

</html>