<!DOCTYPE html>
<!-- Amanda Ho-Lyn -->
<html>
{% block head %}

<head>
    <!-- adjust to screen (needs expanding) -->
    <meta name="viewport" content="width=device-width, initial-scale=1" /> {% block title %}

    <!-- Title and icon that show in browser tab -->
    <title>Coral Wiktionary</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/coral.png') }}" type="image/x-icon" /> {% endblock title %}

    <!-- Fonts -->
    <!--Cinzel Decorative-->
    <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative' rel='stylesheet'>
    <!--Open Sans-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans " rel="stylesheet ">

    <!--Icons-->
    <script src="https://kit.fontawesome.com/01e3a3b2ef.js " crossorigin="anonymous "></script>


    <!-- Stylesheets -->
    <!-- General -->
    <link rel="stylesheet " type="text/css " href="{{ url_for( 'static', filename='css/coralwiki.css' ) }} ">

    <!-- back to top button -->
    <link rel="stylesheet " href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css ">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i " rel="stylesheet ">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/backtotopbutton.css' ) }}">

    <!-- Contributor Page & Contact Form -->
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/contributorpage.css' ) }}">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/contactform.css' ) }}">

    <!-- SearchPage -->
    <link rel="stylesheet " type="text/css " href="{{ url_for( 'static', filename='css/searchpage.css' ) }} ">

    <!-- Searchbar -->
    <link rel="stylesheet " type="text/css " href="{{ url_for( 'static', filename='css/searchbar.css' ) }} ">



</head>
{% endblock head %} {% block header %}
<!-- header area - contains site title and sponsor logos -->
<div class="header ">
    <div class="row ">
        <div class="title ">
            <h1>The Coral <br>Culture & Restoration <br> Wiktionary</h1>
        </div>
        <div class="logos ">
            <!--Seascape Logo-->
            <img src="{{url_for( 'static', filename='images/SC_vectorLogo_crop.png' ) }}" width="100px ">
        </div>
    </div>
</div>

{% endblock header %} {% block pageheader %}
<div class='pageheader'>
    <!-- to contain nav and page title -->
    {% block nav %}
    <nav>
        <div class="navstrip ">

            <div class="nav-item "><a href="{{ url_for ( 'index') }} ">Home</a></div>
            <div class="nav-item "><a href="{{ url_for ( 'contributors') }} ">Contributors</a></div>
            <div class="nav-item "><a href="{{ url_for ( 'about') }} ">About Us</a></div>
            <div class="nav-item "><a href="{{ url_for ( 'search') }} ">Search</a></div>

            {% block searchbar %}
            <!--Searchbar-->
            <div class="searchflex">
                <div class="searchbar">
                    <div>
                        <input type="text" name="search" id="searchbar" onkeyup="myFunction()" placeholder="Search . . ." required><i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            {% endblock searchbar %}
        </div>

    </nav>
    <hr> {% endblock nav %} {% block pagetitle %} {% endblock pagetitle %} {% endblock pageheader%}
</div>
<!-- area for page contents -->
{% block content %}

<br>

<body>


    {% endblock content %} {% block footer %}

    <!--Footer-->
    <footer class="footer ">
        <h2 class="footer ">The Coral Culture & Restoration Wiktionary &copy; 2021 </h2>
        <div class="bottomnav">
            <div class="b-nav-item "><a href="{{ url_for ( 'index') }} ">Home</a></div>
            <div class="b-nav-item "><a href="{{ url_for ( 'contributors') }} ">Contributors</a></div>
            <div class="b-nav-item "><a href="{{ url_for ( 'about') }} ">About Us</a></div>
            <div class="b-nav-item "><a href="{{ url_for ( 'search') }} ">Search</a></div>

        </div>
    </footer>
    {% endblock %}
    <!-- scripts and script imports -->
    {% block scripts %}

    <!-- Add jQuery -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js "></script> -->

    <!--Jquery Cdn -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


    <!--JavaScript-->
    <!-- image hover thing NEEDS FIXING-->
    <!-- <script type="text/javascript">
        document.getElementById("hoverable ").onmouseover = function() {
            show()
        };

        function show() {
            document.getElementById("hoverable ").style.visibility = 'visible';
        }
    </script> -->

    <!-- search filter -->
    <script>
        function myFunction() {
            // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('searchbar');
            filter = input.value.toUpperCase();
            ul = document.getElementById("terms");
            li = ul.getElementsByTagName('li');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>


    <!-- add hyperscript -->
    <!-- <script src="https://unpkg.com/hyperscript.org@0.8.2"></script> -->

    <!-- import htmx -->
    <!-- <script src="https://unpkg.com/htmx.org@1.6.0" integrity="sha384-G4dtlRlMBrk5fEiRXDsLjriPo8Qk5ZeHVVxS8KhX6D7I9XXJlNqbdvRlp9/glk5D" crossorigin="anonymous"></script> -->

    <!-- back to top button -->
    <script type="text/javascript" src="{{ url_for( 'static', filename='js/backtotop.js' ) }}"></script>

    <!-- Contributor Page Tabs -->
    <script>
        function openTab(tabName) {
            var i;
            var x = document.getElementsByClassName("tab-content");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(tabName).style.display = "block";
        }
    </script>
    {% endblock scripts %}

</body>

</html>