{% extends 'base.html'%} {% block content %} {% block pagetitle %}
<div class="pagetitle">Our Contributors</div>
<hr> {% endblock %}
<h2 style="text-align: center;">We'd like to thank our sponsors and contributors for all of their support.</h2>
<p style="font-size: .8em; text-align:center">If you're interested in getting involved, please contact us using the form below or send us an
    <a href="mailto:lab.amanda.ch@gmail.com?subject=Coral Wiktionary">email</a> and we'll get back to you as soon as we can.</p>

<h3 style="font-weight: 300; color:#708a94; margin-top:20px">Contact Us</h3>

<form id="form" class="topBefore contact">

    <input class="contact" id="name" type="text" placeholder="NAME">
    <input class="contact" id="email" type="text" placeholder="E-MAIL">
    <textarea class="contact" id="message" type="text" placeholder="MESSAGE"></textarea>
    <input class="contact" id="submit" type="submit" value="Submit">

</form>
{% endblock %}