<!-- Current Contributor Tab -->
<!-- <div class="tab-list">
    <a hx-get="/currenttab" class="selected">Current</a>
    <a hx-get="/newtab">New</a>
</div>

<div class="tab-content" id="current">
    <div class="container" style="text-align: center;">
        <h2>Thank you to our contributors</h2>
        <p style="text-align: center;"><a href="https://www.linkedin.com/in/amanda-ho-lyn/"> Amanda Ho-Lyn </a><i> Senior creator</i>
            <br> <a href="https://www.seascapecarib.com/about-us"> Andrew Ross </a> <i> Author</i><br>
            <a href="https://www.susanclare.art">Susan Clare</a><i> Artist</i>
            <br> <a href="https://www.linkedin.com/in/nick-hardie-b3000460/">Nick Hardie</a><i> Development Support</i>
        </p>
    </div>
</div> -->