{% extends 'base.html' %} {% block content %}


<!-- page with list of definitions -->
<!--Search
<div class="page">
    <div class="search">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search...">
    </div>
-->

<style>
    body {
        background-image: url('https://images.squarespace-cdn.com/content/v1/59c92f5a03596e9882e024f3/1506535049892-BVBCOWQFJJUNXPEE3Z0H/fullsizeoutput_47b8.jpeg?format=1500w');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 8em;
    }
</style>
<!-- list of definitions -->
<div class="container" id="DICT">
    <ul class="terms">
        {% for i in coraldefs.index %}
        <li><a class="item" name="{{ term[i]|trim }}">{{ term[i] }}</a><i> ({{ role[i] }}) </i> <br> {{ definition[i] }} {%if referrals[i] != "" %}{% print %} See also <a href="#{{ referrals[i] }}">{{ referrals[i] }} </a>{% endif%}
        </li>
        {% endfor %}
    </ul>

    <div class="sidebar">
        <!--BACK TO TOP BUTTON-->
        <div class="m-backtotop" aria-hidden="true">
            <div class="arrow">
                <i class="fa fa-arrow-up"></i>
            </div>
            <div class="text">
                Back to top
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}