{% extends 'base.html' %} {% block content %}


<!-- page with list of definitions -->
<!--Search
<div class="page">
    <div class="search">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search...">
    </div>
-->
<div class="container">
    <ul class="terms">

        <li><a class="item">A-Frame </a><i>(noun)</i> <br>
        </li>


        <li><a class="item">Ablative </a><i>(adjective) </i> <br>
        </li>


        <li><a class="item">Antifoulant </a><i>(adjective)?</i> <br>
        </li>


        <li><a class="item">Anthozoculture </a><i>(noun)</i> <br> A general term for culturing hard corals (primarily anthozoa) for planting and populating marine substrates, implying larger scales related to establishing/reestablishing ecosystem services.
            Coined by <a class="ref" href="#">A. Ross circa 2012</a>. <br> See also <a href="#Gardening">Gardening</a>.</li>

        <li><a class="item">Artificial Reef </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">BDL Nursery </a><i>(noun)</i> <br> Buoyant Drop-line Line nursery, a simplified nursery of horizontal coral-support lines held mid-water by paired tethered buoys at either end. </li>

        <li><a class="item">Biofouling </a><i>(noun)?</i> <br>
        </li>

        <li><a class="item">Bioerode </a><i>(verb) </i> <br>
        </li>

        <li><a class="item" id="#Biorock">Biorock </a><i>(proper noun) </i> <br>
        </li>

        <li><a class="item" id="#Bleach">Bleach </a><i>(verb) </i> <br> <br> See also <a href="#Bleached">Bleached</a>.</li>

        <li><a class="item" id="#Bleached">Bleached </a><i>(adjective)</i> <br>See also <a href="#Bleach">Bleach </a>
        </li>

        <li><a class="item">Boat </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">Boring </a><i>(adjective)</i> <br> An organism that chemically or physically digs or erodes the substrate. Common examples are sponges <i>(Cliona spp.)  </i> and various worms and clams.</li>

        <li><a class="item">Boulder </a><i>(adjective)</i> <br>
        </li>

        <li><a class="item" id="#Branch">Branch </a><i>(noun)</i> <br> <br> See also <a href="#Branching">Branching</a>.</li>

        <li><a class="item" id="#Branching">Branching </a><i>(adjective)</i> <br> <br> See also <a href="#Branch">Branch</a>.</li>

        <li><a class="item">Buoy </a><i>(noun)</i> <br> A device that floats at the surface to carry a mooring line or signage, or a mid-water lifting device to a benthic tether/anchor. <br> See also <a href="#Buoyant">Buoyant</a>.</li>

        <li><a class="item" id="#Buoyant">Buoyant </a><i>(adjective)</i> <br> To be lighter than (sea-water), therefore offering a lifting force (to a coral nursery). <br> See also <a href="#Floating">Floating</a>.</li>

        <li><a class="item">Clip </a><i>(proper noun)</i> <br>
        </li>

        <li><a class="item" id="#Clone">Clone </a><i>(noun)</i> <br> a formally confirmed as discrete genetic lineage. <br> See also <a href="#Genet">Genet</a>.</li>

        <li><a class="item">Clonal Age </a><i>(noun)</i> <br> The age of a given genetic lineage from gametic genesis and settlement.</li>

        <li><a class="item">Colony </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">Cookie </a><i>(noun)</i> <br> A small disk of cement to which a coral nubbin is affixed under in-situ nursery culture. The coral is often tied or wired to the cookie and the cookie secured to a table nursery, usually planted using
            cement. Coined by
            <a class="ref" href="#"> A. Bowden-Kerby circa 1998</a>. </li>

        <li><a class="item">Coral </a><i>(noun)</i> <br> 1. A sedentary coelenterate of warm and tropical seas, with a calcareous, horny, or soft skeleton. Most corals are colonial and many rely on the presence of green algae in their tissues to obtain energy
            from sunlight. Several orders in the class Anthozoa, including the ‘true’ or stony corals (order Scleractinia or Madreporaria), which form reefs, the soft corals (order Alcyonacea), which form leathery or fleshy colonies, and the horny corals
            (order Gorgonacea).
            <br> 2. A discrete isolate of coral held or developed under nursery culture, including planting back to the seabed. <br> See also <a href="#Out-Plant">Out-Plant</a>.
            <br> 3. A hard stony substance secreted by certain marine coelenterates as an external skeleton, typically forming large reefs in warm seas: [as modifier] : a coral reef | the nearby coral islands, lagoons, and atolls.
            <i style="font-weight: 600">ORIGIN Middle English: via Old French from Latin corallum, from Greek korallion, kouralion.</i>
        </li>

        <li><a class="item" id="#Corallivoiren">Corallivoire </a><i>(noun)</i> <br> <br> See also <a href="#Corallivoirea">Corallivoire (adj.)</a></li>

        <li><a class="item" id="#Corallivoirea">Corallivoire </a><i>(adjective)</i> <br> <br> See also <a href="#Corallivoiren">Corallivoire (n.)</a></li>

        <li><a class="item" id="#Dive">Dive </a><i>(verb)</i> <br>
        </li>

        <li><a class="item">Diver </a><i>(noun)</i> <br> One who dives. <br> See also <a href="#Dive">Dive</a>.</li>

        <li><a class="item">Epigenetic </a><i>(adjective)</i> <br> Relating to epigenetics, the collection of factors by which gene functionality is regulated.</li>

        <li><a class="item" id="#Floating">Floating </a><i>(adjective)</i> <br> Resting at the (water) surface, not sinking. Used to describe a nursery in a buoyant mid-water state.
        </li>

        <li><a class="item">Fouling </a><i>(adjective)</i> <br> (Of items) entangled into corals or nursery structure. Often macroalgae or plastics including bags and eroded rope. <br> See also <a>Flotsam/Jestsam</a></li>

        <li><a class="item">Fouling </a><i>(noun)</i> <br> Flora and fauna.</li>

        <li><a class="item">Fragment </a><i>(noun)</i> <br> A portion of coral including living material.</li>

        <li><a class="item">Frame </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">FUCA </a><i>(proper noun)</i> <br>
            <strong>Floating Underwater Coral Array</strong> coral nursery, a rectangular frame held vertically in the water column with anchor(s) and buoy(s), usually with corals set to horizontal cross-lines. Coined by <a class="ref" href="#">
                     S. Griffin circa 2015</a>.
        </li>

        <li><a class="item" id="#Gardening">Gardening </a><i>(verb)</i> <br> The horticulturally-themed process of harvesting small amounts of parent (coral) stock and culturing it through propagative generations under nursery conditions, to then plant it
            back to a marine substrate. B. Rinkevich circa 1996. </li>

        <li><a class="item">Gene </a><i>(noun)</i> <br> A sequence of nucleotides encoding a protein.</li>

        <li><a class="item" id="#Genet">Genet </a><i>(noun)</i> <br> A ____ formally confirmed as discrete genetic lineage. <br> See also <a href="#Clone">Clone</a>.
        </li>

        <li><a class="item">Genetic </a><i>(adjective)</i> <br> Of or relating to genes.</li>

        <li><a class="item">Groyne </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">Guy Wire </a><i>(noun)</i> <br> Lines set to stabilize a table or frame nursery, often set for storms or stormy seasons.</li>

        <li><a class="item">Infauna </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">Isolate </a><i>(noun)</i> <br> A discrete individual. Several isolates of the green lineage were planted to the reef. <br> See also <a href="#Ramet">Ramet</a>.</li>

        <li><a class="item">Iteration </a><i>(noun)</i> <br> A propagative cohort under nursery culture. eg: this lineage has been in culture through four propagative iterations.
            <br> See also <a href="#">Generation</a>.</li>

        <li><a class="item" id="#LaidLine">Laid Line </a><i>(noun)</i> <br> A line made of three twisted-together lines. <br> See also <a href="#Rope">Rope</a>.</li>

        <li><a class="item">Lattice Turbulence </a><i>(noun)</i> <br> Turbulence produced in passing waves specifically related to lattice structures such as branching (coral) thickets and reefs including related to sandy beach accretion and coastal protection.
            <br> eg: fore-reef elkhorn coral thickets of the Caribbean prior to 1980. Coined by <a class="ref" href="#"> A. Velegrakis circa 2011</a>.</li>

        <li><a class="item">Lift </a><i>(adjective)</i> <br>
        </li>

        <li><a class="item">Life Bag </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">Line </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">Line Nursery </a><i>(noun)</i> <br> <br> See BDL Nursery.
        </li>

        <li><a class="item">Lineage </a><i>(noun)</i> <br> An expected genet without or prior to formal testing confirmation. <br> See also <a href="#Genet">Genet</a> and <a href="#Clone">Clone</a>.
        </li>

        <li><a class="item">Massive </a><i>(adjective)</i> <br> Resting at the (water) surface, not sinking. Used to describe a nursery in a buoyant mid-water state.
        </li>

        <li><a class="item" id="#Microfragment">Microfragment </a><i>(noun)</i> <br> A small propagule as cleaved from a larger isolate to its final size using a tile or bandsaw. Term usually used in ex-situ culture. Coined by <a class="ref" href="#">
                     D. Vaughn circa 2008</a>. <br> See also <a href="#Nubbin">Nubbin</a>.</li>

        <li><a class="item">MIT </a><i>(noun)</i> <br> <strong>Mineral Accretion Technology</strong>, an artificial reef system wherein an electrical current is passed through a steel structure for rusting to be halted/CaCO3 accreted.
            <br> See also <a href="#Biorock">Biorock</a>.
        </li>

        <li><a class="item">Morphology
                    </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">Mounding
                    </a><i>(adjective)</i> <br>
        </li>

        <li><a class="item" id="#Nubbin">Nubbin
                    </a><i>(noun)</i> <br> A small propagule as cleaved from the parent colony and into its final size using pliers or chisel. Term usually used regarding in-situ culture. Shafir, S. (2000). <br> See also <a href="#Microfragment">Microfragment</a>.
        </li>

        <li><a class="item">Nursery
                    </a><i>(noun)</i> <br> 1. A location holding one to several coral nursery structures under or intending to culture coral for out planting. May be in-situ or ex-situ.
            <br>eg: the CRF has 200 Tree style nursery devices at their Lew Key coral nursery, holding some 2000 corals.
            <br>2. A device for the safe holding and growth of small coral isolates, usually involved in propagation for further purpose.
        </li>

        <li><a class="item">Nylon
                    </a><i>(noun)</i> <br> A plastic material often used for monofilament (fishing) lines, laid lines and ropes. Hydroscopic.
        </li>

        <li><a class="item" id="#Out-Plant">Out-Plant
                    </a><i>(noun)</i> <br> A nursery-derived isolate planted to a marine substrate.
        </li>

        <li><a class="item" href="#">Out-Plant
                    </a><i>(verb)</i> <br> Planting cultured corals to a marine substrate.
        </li>

        <li><a class="item">PET/PEET
                    </a><i>(noun)</i> <br> A plastic material often used for clear soda (drink) and chemical containers/bottles. Durable and UV resistant.
        </li>

        <li><a class="item">Photogrammetry
                    </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">Polypropylene
                    </a><i>(noun)</i> <br> A plastic material often used for lines (ropes), though also for buoys and containers (HDPE) and braided lines (UHDPE). Floats in seawater and is waterproof, but subject to UV degradation (confirm?)
        </li>

        <li><a class="item">Predator
                    </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">Predate
                    </a><i>(verb)</i> <br>
        </li>

        <li><a class="item">Propagule
                    </a><i>(noun)</i> <br> A vegetative structure that has been cleaved or detached from a coral and give rise to a new plant.
            <br> e.g. a fragment, nubbin, microfragment, or larvae. From botany.
        </li>

        <li><a class="item">Protobranch
                    </a><i>(noun)</i> <br>
        </li>

        <li><a class="item" id="#Ramet">Ramet
                    </a><i>(noun)</i> <br> A discrete individual of (genetic) lineage or genet.
            <br> eg: a project may have several ramets of a genet under culture
        </li>

        <li><a class="item">Reef
                    </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">Reefal
                    </a><i>(adjective)</i> <br>
        </li>

        <li><a class="item">Reefscape
                    </a><i>(noun)</i> <br>
        </li>

        <li><a class="item" href="#Reskin">Reskin
                    </a><i>(verb)</i> <br> Growing or planting ramets in close proximity such that they grow back together into a single or suite of larger isolates, including multiple genets as chimera related to bleaching tolerance (Rinkevich).
            <br> See also <a href="#Supercoral">Supercoral</a>. Coined by <a class="ref" href="#"> XYZ circa 20XX </a></li>

        <li><a class="item">Revetmet
                    </a><i>(noun)</i> <br>
        </li>

        <li><a class="item" id="#Rope">Rope
                    </a><i>(noun)</i> <br> A largely generic term for a line, usually referring to a laid line.
            <br> See also <a href="#LaidLine">Laid Line</a>.
            <br> </li>


        <li><a class="item">Rosette
                    </a><i>(noun)</i> <br> A discrete, densely-planted patch of planted corals, usually of more than five (5) isolates in an area of less-than 0.1m
            <sup>2</sup> of substrate. Usually related to use of Portland cement as adhesive.
        </li>

        <li><a class="item">Rugosity
                    </a><i>(adjective)</i> <br>
        </li>

        <li><a class="item">SCUBA
                    </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">Ship
                    </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">Shipwreck
                    </a><i>(noun)</i> <br> Underwater remnants of a boat/water vessel in any state.
        </li>

        <li><a class="item">Shipwreck
                    </a><i>(verb)</i> <br> To cause damage to a boat/water vessel such that it sinks underwater.
        </li>

        <li><a class="item">Substrate
                    </a><i>(noun)</i> <br> Resting at the (water) surface, not sinking. Used to describe a nursery in a buoyant mid-water state.
        </li>

        <li><a class="item" href="#">Super-Coral
                    </a><i>(verb)</i> <br> Growing or planting ramets in close proximity such that they grow back together into a single or suite of larger isolates, including multiple genets as chimera related to bleaching tolerance (Rinkevich). Coined
            by <a class="ref" href="#">A. Bowden-Kerby circa 2000</a>.
            <br> See also <a href="#Reskin">Reskin</a>.
        </li>

        <li><a class="item" id="#Supercoral">Supercoral
                    </a><i>(noun)</i> <br> Breeding conditions temperature-tolerant colonies together to produce subsequent generations of improved tolerance. Coined by <a class="ref" href="#">R. Gates circa 2005</a>.
        </li>

        <li><a class="item">Statuary
                    </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">String Nursery
                    </a><i>(noun)</i> <br> <i>Archaic.</i> <br>.
            <br> See BDL.
        </li>

        <li><a class="item">Table Nursery
                    </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">Tree Nursery
                    </a><i>(noun)</i> <br> A single-anchor mid-water buoyant nursery structure with horizontal arms to which propagules are attached for growth. The Coral Restoration Foundation &trade;
        </li>

        <li><a class="item">Turbulence
                    </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">Vessel
                    </a><i>(noun)</i> <br>
        </li>

        <li><a class="item">VTL Nursery
                    </a><i>(proper noun)</i> <br>
            <strong>Vertically Tensioned Line</strong> nursery. A simplified coral nursery wherein coral branches are threaded into a single mid-water line, the coral’s own tissue inhibiting fouling
        </li>

        <li><a class="item">Windage
                    </a><i>(noun)</i> <br> The amount of wave or current (water) energy that a structure catches, un-streamlined.
        </li>
    </ul>

</div>
</div>
{% endblock %}