{% extends 'base.html' %} {% block content %}


<!-- page with list of definitions -->
<!--Search
<div class="page">
    <div class="search">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search...">
    </div>
-->
<div class="container">
    <ul class="terms">
        {% for i in coraldefs.index %}
        <li><a class="item" name="{{ term[i] }}">{{ term[i] }}</a><i> ({{ role[i] }}) </i> <br> {{ definition[i] }}
        </li>
        {% endfor %}
    </ul>

</div>
</div>
{% endblock %}