<!-- page for more advanced searching -->
{% extends 'base.html'%} {% block searchbar %}{% endblock %} {% block content %} {% block pagetitle %}
<div class="pagetitle">Search</div>
<div>
    <h2 style="text-align: center;">Use this page to search the dictionary or for contributors </h2>
</div>
<hr> {% endblock %}
<div class="page">

    <form class="searchbox" method="post" action="" style="margin:auto;" name="search">
        <input type="search" placeholder="Search..." name="search" value="{{ request.form.search }}">
        <button type="submit" id="searchpagesubmit"><i class="fa fa-search" style="font-size: 3em; color:#1f5350; "></i>
        </button>
    </form>
    <hr>
    <div class="container search-results">
        {% for i in results %}
        <ul>
            <li><a class="term" href="/#{{ i.Term|trim }}">{{i.Term}}</a>
                <var class="type">({{i.Type}})</var> <br> {{i.Definition}} </li><br>

        </ul> {% endfor %} {% if not results %} {{ nomatch }} {% endif %}
    </div>
    <div class="sidebar">
        <!--BACK TO TOP BUTTON-->
        <div class="m-backtotop" aria-hidden="true">
            <div class="arrow">
                <i class="fa fa-arrow-up"></i>
            </div>
            <div class="text">
                Back to top
            </div>
        </div>
    </div>
</div>
{% endblock %}