/******************* Colours **************************/

:root {
  --seablue: #9ae7ee;
  --sea: #79d4f8;
  --blueshadow: #2f4953;
  --stone: #4d565a;
  --oceanblue: #4a8de6;
}

/********************* General ******************************/

.Page {
  min-height: 100vh;
  margin-bottom: 20vh;
}

.pagetitle {
  text-align: center;
  padding: 0.2em;
  padding-top: 0.7em;
  font: 1.1em "Cinzel Decorative";
  font-weight: 300;
  color: #2f4953;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 0.5px rgba(74, 141, 230, 0.9);
}

* {
  word-wrap: normal;
  box-sizing: border-box;
}

p {
  font-size: 105%;
  font-family: "Open Sans", sans-serif;
}
